:root {
    --slate-300: hsl(212, 45%, 89%);
    --slate-500: hsl(216, 15%, 48%);
    --slate-900: hsl(218, 44%, 22%);
    --white: hsl(0, 0%, 100%);
    --font-fam: 'Outfit', sans-serif;
    --size-1: 20px;
    --font-size-2: 15px;
    --img-size: 280px;
    --border-rad-1: 19px;
    --border-rad-2: 10px;
}
.attribution a { color: hsl(228, 45%, 44%);}
html {
    height: 100%;
}

body {
    background-color: var(--slate-300);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

main {
    width: var(--img-size);
    background-color: var(--white);
    padding: var(--size-1);
    font-family: var(--font-fam);
    border-radius: var(--border-rad-2);
    text-align: center;
}

h1 {
    font-weight: 700;
    font-weight: bold;
    font-size: var(--border-rad-1);
    color: var(--slate-900);
}

p {
    font-weight: 400;
    font-size: var(--font-size-2);
    color: var(--slate-500);
}

main img {
    width: var(--img-size);
    border-radius: var(--border-rad-2);
}

.attribution {
    position: fixed;
    font-size: 11px;
    bottom: 1rem;
}